.work-exp-sec {
  background-color: #fafafa;
}

.work-exp-sec .accordion-header ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1080px;
  }
}